@use './variables/colors';
@use './variables/transitions';

* {
	box-sizing: border-box;
	position: relative;
	margin: 0;
	padding: 0;
	outline: none;
}

html {
	-webkit-text-size-adjust: none;
	-webkit-tap-highlight-color: colors.$transparent;
	margin-right: calc(-1 * (100vw - 100%));
	background-color: var(--tds-space);
}

body {
	background-color: var(--tds-space);
}

a {
	color: inherit;

	&.link {
		opacity: .6;
		transition: transitions.$opacity;

		@media (hover: hover) and (pointer: fine) {
			&:hover {
				opacity: .8;
			}

			&:active {
				opacity: 1;
			}
		}
	}
}

img,
svg,
textarea,
iframe,
canvas {
	vertical-align: bottom;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
	-webkit-appearance: none;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
	-webkit-box-shadow: 0 0 0px 1000px var(--tds-space) inset;
					box-shadow: 0 0 0px 1000px var(--tds-space) inset;
}

input,
textarea,
select {
	background-color: var(--tds-space);
}
