body {
	text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.fw-100 {
	font-weight: 100;
}

.fw-200 {
	font-weight: 200;
}

.fw-300 {
	font-weight: 300;
}

.fw-400 {
	font-weight: 400;
}

.fw-500 {
	font-weight: 500;
}

.fw-600 {
	font-weight: 600;
}

.fw-700 {
	font-weight: 700;
}

.fw-800 {
	font-weight: 800;
}

.fw-900 {
	font-weight: 900;
}

$font-family: 'Roboto', sans-serif;

/** Display */
.display-large {
	font-family: $font-family;
	font-size: 38px;
	line-height: 46px;
	letter-spacing: -0.25px;
}
.display-medium {
	font-family: $font-family;
	font-size: 34px;
	line-height: 42px;
	letter-spacing: 0;
}
.display-small {
	font-family: $font-family;
	font-size: 30px;
	line-height: 36px;
	letter-spacing: 0;
}

/** Headline */
.headline-large {
	font-family: $font-family;
	font-size: 24px;
	line-height: 30px;
	letter-spacing: 0;
}
.headline-medium {
	font-family: $font-family;
	font-size: 22px;
	line-height: 28px;
	letter-spacing: 0;
}
.headline-small {
	font-family: $font-family;
	font-size: 20px;
	line-height: 26px;
	letter-spacing: 0;
}

/** Title */
.title-large {
	font-family: $font-family;
	font-size: 20px;
	line-height: 24px;
	letter-spacing: 0;
}
.title-medium {
	font-family: $font-family;
	font-size: 18px;
	line-height: 21.5px;
	letter-spacing: 0.15px;
}
.title-small {
	font-family: $font-family;
	font-size: 16px;
	line-height: 19px;
	letter-spacing: 0.1px;
}

/** Body */
.body-large {
	font-family: $font-family;
	font-size: 16px;
	line-height: 21px;
	letter-spacing: 0.25px;
}
.body-medium {
	font-family: $font-family;
	font-size: 14px;
	letter-spacing: 0.1px;
	line-height: 20px;
}
.body-small {
	font-family: $font-family;
	font-size: 12px;
	letter-spacing: 0.05px;
	line-height: 16px;
}

/** Label */
.label-large {
	font-family: $font-family;
	font-size: 16px;
	line-height: 21px;
	letter-spacing: 0.05px;
}
.label-medium {
	font-family: $font-family;
	font-size: 14px;
	line-height: 18px;
	letter-spacing: 0.02px;
}
.label-small {
	font-family: $font-family;
	font-size: 12px;
	line-height: 16px;
	letter-spacing: 0.1px;
}
