@use './variables/colors';
@use './variables/layers';
@use './variables/transitions';

.noselect {
	user-select: none;
	-webkit-user-select: none;
	-webkit-touch-callout: none;
}

.truncate {
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

.full-width {
	width: 100%;
}

.full-height {
	height: 100%;
}

.absolute {
	position: absolute;
	inset: 0;
}

.absolute-center {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.disabled {
	cursor: default;
	opacity: .4 !important;
	pointer-events: none;
	transition: transitions.$opacity;
}

.cursor-pointer {
	cursor: pointer;
}

.hidden-input {
	position: absolute;
	width: 1px;
	height: 1px;
	margin: -1px;
	border: 0;
	padding: 0;
	clip: rect(0 0 0 0);
	overflow: hidden;
}

.hidden-scrollbar {
	-ms-overflow-style: none;  /* IE and Edge */
	scrollbar-width: none;  /* Firefox */

	&::-webkit-scrollbar {
		display: none;
	}
}
